@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1160px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 600px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.double-line-text {
  font-size: 40px; /* Adjust as needed */
  color: transparent; /* Make the main text transparent */
  -webkit-text-stroke: 2px rgb(249, 100, 46); /* Outer line */
  position: relative;
}

.double-line-text::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: white; /* Color of the inner line */
  -webkit-text-stroke: 6px black; /* Thickness and color of the outer line */
}


:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-11lehqq).ant-menu-light>.ant-menu .ant-menu-item-selected {
  background-color: #ef4444;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-11lehqq).ant-menu-light>.ant-menu .ant-menu-item-selected {
  color: white;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light, :where(.css-dev-only-do-not-override-11lehqq).ant-menu-light>.ant-menu {
  color: black;
  padding-top: 4vh;
  height: 100vh;
  position:fixed;
  top: 0px;
  background: rgb(235, 233, 233)
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-inline.ant-menu-root .ant-menu-item, :where(.css-dev-only-do-not-override-11lehqq).ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .menu-desktop {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .menu-mobile, .menu-mobile-drawer {
    display: none;
  }
}
