@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}
body{
  font-family: "Work Sans", sans-serif !important;
}
@media (max-width: 1160px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 600px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.double-line-text {
  font-size: 40px; /* Adjust as needed */
  color: transparent; /* Make the main text transparent */
  -webkit-text-stroke: 2px rgb(249, 100, 46); /* Outer line */
  position: relative;
}

.double-line-text::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: white; /* Color of the inner line */
  -webkit-text-stroke: 6px black; /* Thickness and color of the outer line */
}


.menu-bar .ant-menu-item-selected {
  background-color: #ef4444 !important;
  color: white !important;
}
.menu-bar .ant-menu {
  color: black !important;
  padding-top: 4vh !important;
  height: 100vh !important;
  padding-top: 0px !important;
  /* position:fixed !important;
  top: 0px !important; */
  background: rgb(235, 233, 233) !important;
}
.menu-bar .ant-menu-item {
  margin-bottom: 20px !important;
}
 .ant-menu-submenu {
  display: none !important;
}
.outlet-dashboard-width{
  width: calc(100% - 256px) !important;
}
@media (max-width: 800px) {
  .menu-desktop {
    display: none !important;
  }
  .outlet-dashboard-width{
    width: auto!important;
  }
}
input:focus , textarea:focus{
  outline: 1px solid #ef4444 ;

}
.ant-btn-primary {
  background-color: #ef4444 !important;
}
.ant-btn-primary:hover {
  background-color: #f93838 !important;
}
.ant-table-cell{
  white-space: noWrap;
}

@media (min-width: 769px) {
  .menu-mobile,
  .menu-mobile-drawer {
    display: none;
  }

}
